body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    background-image: url(https://images.hdqwalls.com/download/space-stars-purple-sky-3n-2560x1440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    line-height: 1.4;
}